#droit {
	float: right;
	width: auto;
}

#gauche {
	width: auto; /* prend toute la largeur disponible */
	overflow: hidden; /* tient compte du flottant */
}

body { 
	font-family: Verdana, Geneva, Arial; 
	font-size : 12px; 
}

#login {
    margin: 7em auto;
    width: 320px;
}
